.idea
cmake-build-*
build_iridium_cosmos/
results_analysis/data_analysis/input-output/
collision_config.yaml
collision_data.yaml
fragments.csv
fragments.vtu
input.csv
input.vtu
results_analysis/catastrophic_vs_noncatastrophic/output/
results_analysis/min-projectile-mass/output/

results_analysis/min-projectile-mass/input/
results_analysis/min-projectile-size/output/
results_analysis/min-projectile-size/input/
build/
AkantuComparison/0-angle-39-Jg-NOMC/input-output/